*{
  margin: 0;
  padding: 0;
  height: auto;
}

#particles-js{
  background: gray;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  background: rgba(0, 0, 0, .8);
  height: 70px;
  position: fixed;
  z-index: 10;
}

.Ancho{
  width: 80%;
  height: 70px;
  margin: auto;
}

.Logo{
  width: 30%;
  height: 70px;
  float: left;
  padding-top: 5px;
  box-sizing: border-box; 
  padding-left: 50px; 
}

.Logo p a{
  color: white;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Lobster;
}

nav{
  width: 70%;
  height: 70px;
  float: left;
  text-align: right;
  padding-top: 24px;
  box-sizing: border-box;
  padding-right: 50px; 
}

nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 25px; 
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Lobster;
}

nav ul li a:hover{
  color: cyan;
  font-size: 23px;

}

@font-face{
  font-family: Lobster;
  src: url(../Fuente/Lobster-Regular.ttf)
}