<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>RegeTeam</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link rel="stylesheet" href="css/Style.css" type="text/css">
  <link rel="stylesheet" href="css/mdb.min.css" type="text/css">
  <link rel="stylesheet" href="css/mdb.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.6.9/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.6.9/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css"></script>
  <script src="js/ControllerJs/ControllerIndex.js"></script>
  <script src="s/Routes.js"></script>
  <script src="js/ControllerJs/ControllerEquipo.js"></script>
  <script src="js/ControllerJs/ControllerJugadores.js"></script>
  <script src="js/mdb.min.js"></script>
  <script src="js/popper.min.js"></script>
</head>

<body ng-view>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" ng-href="#!/Home">RegeTeam</a>
    <form class="form-inline col col-md-0">
      <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search" ng-model="searchQuery">
    </form>
    <button class="navbar-toggler col col-md-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/Home">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/Equipos">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/Jugadores">Jugadores</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="loader" ng-show="!mostrar"></div>
  <br>
  <div class="container animate-bottom" ng-show="mostrar">
    <div class="row">
      <br>
      <div class="col-md-6 mb-3">
        <label>Equipos</label>
        <div class="list-group">
          <a ng-click="Seleccion(Equipos.Id)" class="list-group-item list-group-item-action waves-effect" ng-repeat="Equipos in Equipos | filter:searchQuery">{{Equipos.sNombre}}</a>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div id="loader" ng-show="mostrarLoad"></div>
        <div ng-show="jugadores" class="animate-bottom">
          <label>Jugadores</label>
          <div class="list-group">
            <a class="list-group-item" ng-repeat="Jugadores in Jugadores">{{Jugadores.sNombre}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>