<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" ng-href="#!/Home">RegeTeam</a>
  <form class="form-inline col col-md-0">
    <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search" ng-model="searchQuery">
  </form>
  <button class="navbar-toggler col col-md-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" ng-href="#!/Home">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-href="#!/JugadoresReg">Registrar</a>
      </li>
    </ul>
  </div>
</nav>
<div id="loader" ng-show="!mostrar"></div>
<br>
<div class="container animate-bottom">
  <div class="row">
    <br>
    <div class="col-xl-4" ng-repeat="Jugadores in Jugadores | filter:searchQuery">
      <div class="card">
        <img class="img-responsive" ng-src="{{Jugadores.uJugador}}" alt="Card image" height="345">
        <div class="card-body">
          <h5 class="card-title">{{Jugadores.sNombre}}</h5>
          <p class="card-text  mw-100 mh-100">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Id: {{Jugadores.Id}}</li>
              <li class="list-group-item list-group-item-success">Edad: {{Jugadores.iEdad}}</li>
              <li class="list-group-item list-group-item-success">Nacionalidad: {{Jugadores.sNacionalidad}}</li>
              <li class="list-group-item list-group-item-success">Posición: {{Jugadores.sPosicion}}</li>
              <li class="list-group-item list-group-item-success">Equipo: {{Jugadores.sEquipo.sNombre}}</li>
            </ul>
          </p>
        </div>
        <a href="#!/Jugadores/{{Jugadores.Id}}" class="btn btn-primary">Ir</a>
      </div>
      <br>
    </div>
  </div>
</div>
<div id="loader" ng-show="!mostrar"></div>
<div class="container animate-bottom">
  <!-- Central Modal Medium Info -->
  <div class="modal fade" id="select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header  animate-bottom">
          <p class="heading lead">{{copia.sNombre}}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <img class="img-responsive" ng-src="{{copia.uJugador}}" alt="Card image" height="120">
            <!-- Material input -->
            <form class="container" id="form" novalidate method="POST" ng-submit="Update(copia.Id, Jugador)" name="form">
              <br>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="Nombre Del Jugador">Nombre Del Jugador:</label>
                  <input type="text" class="form-control" placeholder="Nombre Del Jugador" required ng-model="Jugador.sNombre">
                  <div ng-show="!Jugador.sNombre && form.$submitted" class="alert alert-danger">
                    Ingresar Dato
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="Edad">Edad:</label>
                  <input type="text" class="form-control" placeholder="Edad" required ng-model="Jugador.iEdad">
                  <div ng-show="!Jugador.iEdad && form.$submitted" class="alert alert-danger">
                    Ingresar Dato
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="Posición">Posición:</label>
                  <input type="text" class="form-control" placeholder="Posición" required ng-model="Jugador.sPosicion">
                  <div ng-show="!Jugador.sPosicion && form.$submitted" class="alert alert-danger">
                    Ingresar Dato
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="Nombre De La Nacionalidad">Nombre De La Nacionalidad:</label>
                  <input type="text" class="form-control" placeholder="Nombre De La Nacionalidad" required ng-model="Jugador.sNacionalidad">
                  <div ng-show="!Jugador.sNacionalidad && form.$submitted" class="alert alert-danger">
                    Ingresar Dato
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="Url De Imagen Del Escudo De La Nacionalidad">Imagen De Selección (Url):</label>
                  <input type="url" class="form-control" placeholder="Url De Imagen Del Escudo De La Nacionalidad" required ng-model="Jugador.uNacionalidad">
                  <div ng-show="!Jugador.uNacionalidad && form.$submitted" class="alert alert-danger">
                    Debe ser una Url
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="Url De Imagen De La Persona">Imagen De La Persona(Url):</label>
                  <input type="url" class="form-control" placeholder="Url De Imagen De La Persona" required ng-model="Jugador.uJugador">
                  <div ng-show="!Jugador.uJugador && form.$submitted" class="alert alert-danger">
                    Debe ser una Url
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <br>
                  <label for="Seleccione Un Equipo">Seleccione Un Equipo:</label>
                  <select class="custom-select" required ng-model="Jugador.sEquipo" ng-options="sEquipo.sNombre for sEquipo in Equipos"></select>
                  </select>
                  <div ng-show="!Jugador.sEquipo && form.$submitted" class="alert alert-danger">Seleccione un equipo</div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="container">
                  <div class="row">
                    <br>
                    <div class="col-md-4">
                      <div class="card">
                        <img class="img-responsive" ng-src="{{Jugador.uJugador}}" alt="Card image" height="200">
                        <div class="card-body">
                          <h5 class="card-title">Previzualización del jugador</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="card">
                        <img class="img-responsive" ng-src="{{Jugador.uNacionalidad}}" alt="Card image" height="200">
                        <div class="card-body">
                          <h5 class="card-title">Previzualización de la nacionalidad</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Footer-->
              <div class="modal-footer justify-content-center text-center">
                <button type="submit" class="btn btn-info pull-righ" id="submit">Editar</button>
                <button class="btn btn-danger pull-righ" ng-click="Delete(Jugador.Id)">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Info-->
</div>

<!-- Central Modal Medium Success -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="{{Modal.classDiv}}" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{Modal.Texto}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="{{Modal.classBtn}}" ng-href="{{Modal.Link}}">Continuar
          <i class="fa fa-diamond ml-1"></i>
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->