.navbar-brand{
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 30px;
}

nav div ul li a{
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

form div{
  font-family: 'Bree Serif', serif;
  font-size: 13px;
  letter-spacing: 1px;
}