<body>

  <br>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-sm-4" ng-repeat="Equipos in Equipos | filter:searchQuery">
        <div class="card">
          <img class="img-responsive" src="{{Equipos.uEscudo}}" alt="Card image" height="345">
          <div class="card-body">
            <h5 class="card-title">{{Equipos.sNombre}}</h5>
            <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item list-group-item-success">Id: {{Equipos.Id}}</li>
                <li class="list-group-item list-group-item-success">Nombre Del Estadio: {{Equipos.sEstadio}}</li>
                <li class="list-group-item list-group-item-success">Url Del Estadio: {{Equipos.uEstadio}}</li>
                <li class="list-group-item list-group-item-success">Url Del Escudo: {{Equipos.uEscudo}}</li>
              </ul>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>