<body>

  <br>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-sm-4" ng-repeat="Jugadores in Jugadores | filter:searchQuery">
        <div class="card">
          <img class="img-responsive" src="{{Jugadores.uJugador}}" alt="Card image" height="345">
          <div class="card-body">
            <h5 class="card-title">{{Jugadores.sNombre}}</h5>
            <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item list-group-item-success">Id: {{Jugadores.Id}}</li>
                <li class="list-group-item list-group-item-success">Nacionalidad: {{Jugadores.sNacionalidad}}</li>
                <li class="list-group-item list-group-item-success">Posición: {{Jugadores.sPosicion}}</li>
                <li class="list-group-item list-group-item-success">Equipo: {{Jugadores.sEquipo.sNombre}}</li>
                <li class="list-group-item list-group-item-success">Url De La Foto: {{Jugadores.uJugador}}</li>
                <li class="list-group-item list-group-item-success">Url De La Nacionalidad: {{Jugadores.uNacionalidad}}</li>
              </ul>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>